/* 
			  _____                    _____          
			 /\    \                  /\    \         
			/::\    \                /::\    \        
		   /::::\    \              /::::\    \       
		  /::::::\    \            /::::::\    \      
		 /:::/\:::\    \          /:::/\:::\    \     
		/:::/__\:::\    \        /:::/__\:::\    \    
		\:::\   \:::\    \      /::::\   \:::\    \   
	  ___\:::\   \:::\    \    /::::::\   \:::\    \  
	 /\   \:::\   \:::\    \  /:::/\:::\   \:::\ ___\ 
	/::\   \:::\   \:::\____\/:::/__\:::\   \:::|    |
	\:::\   \:::\   \::/    /\:::\   \:::\  /:::|____|
	 \:::\   \:::\   \/____/  \:::\   \:::\/:::/    / 
      \:::\   \:::\    \       \:::\   \::::::/    /  
	   \:::\   \:::\____\       \:::\   \::::/    /   
		\:::\  /:::/    /        \:::\  /:::/    /    
		 \:::\/:::/    /          \:::\/:::/    /     
		  \::::::/    /            \::::::/    /      
		   \::::/    /              \::::/    /       
			\::/    /                \::/____/        
			 \/____/                  ~~              
					 Socialbomb, inc.
				 Since naughtical times
				 
				Author: Axel Esquite
				Date: Tues October 18, 2011

				colors: 
				brown : #eef2dc
					#D2D6BE
				blue : #25AACC
				dark blue : #0a3e4c
				red/orang: #e7622e
					dark: #B8471B
					darker: #A53C00
				green: #5ECFBA
						#80CCB9
*/
body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eef2dc;
	color: #333333;
	/*width: 520px;*/
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

#container { }
#main {
	overflow: hidden;
	min-height: 600px;
}
header {
	background: #25AACC;
	padding: 20px;
	margin-bottom: 40px;
}
	header h1 {
		font-family: 'Cherry Swash', cursive;
		text-align: center;
		color: #0a3e4c;
		font-size: 45px;
		line-height: 1em;
		text-shadow: -1px 1px 0px #33bee2;
		filter: dropshadow(color=#f5f5f5, offx=-1, offy=0);
	}
	header h4 {
		font-family: 'Cherry Swash', cursive;
		text-align: center;
		font-size: 25px;
		color: #eef2dc;
		/*text-shadow: -1px 1px 0px #33bee2;*/
		/*filter: dropshadow(color=#f5f5f5, offx=-1, offy=0);*/
	}
button.create {
	font-family: 'Cherry Swash', cursive;
	background-color: #80CCB9;
	color: #447f70;
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	font-size: 30px;
	display: block;
	margin: 0 auto 40px;
	text-shadow: 2px 2px 3px rgba(146,232,211,.8);
	border: solid 5px #D2D6BE;
	-webkit-transition-property: background-color,1s,linear;
	-moz-transition-property: background-color,1s,linear;
	-ms-transition-property: background-color,1s,linear;
	-o-transition-property: background-color,1s,linear;
	transition-property: background-color,1s,linear;
	-webkit-transition-duration: 0.15s;
	-moz-transition-duration: 0.15s;
	-ms-transition-duration: 0.15s;
	-o-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	-ms-transition-delay: 0;
	-o-transition-delay: 0;
	transition-delay: 0;
	-webkit-transition-property: color,1s,linear;
	-moz-transition-property: color,1s,linear;
	-ms-transition-property: color,1s,linear;
	-o-transition-property: color,1s,linear;
	transition-property: color,1s,linear;
	-webkit-transition-duration: 0.15s;
	-moz-transition-duration: 0.15s;
	-ms-transition-duration: 0.15s;
	-o-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	-ms-transition-delay: 0;
	-o-transition-delay: 0;
	transition-delay: 0;
}

button.create:hover {
	background-color:#6eb4a4;
	text-shadow: 2px 2px 3px rgba(146,232,211,.1);
	/*border: solid 5px #d9ddc3;*/
}

.mouse {
	background-color: #fff;
	overflow: hidden;
	margin: 0 auto;
	padding: 0 0 20px 0;
	box-shadow: 0px -5px 0px 0px rgba(0,0,0,.1);
}
	.mouse header {
		font-family: 'Cherry Swash', cursive;
		text-align: center;
		background-color:#e7622e;
		padding: 10px 20px 5px 20px;
		margin: 0;
	}
		.mouse header strong {
			display: block;
			font-size: 35px;
			line-height: 1em;
			color: #A53C00;
			text-shadow: 2px 2px 3px rgba(252,121,45,.8);
		}
		.mouse header em { display: block; color: #eef2dc; }
		.destroy {
			position: absolute;
			display: none;
			cursor: pointer;
			background-color: #B8471B;
			font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-weight: bold;
			width: 20px;
			height: 20px;
			border-radius: 25px;
			color: #e7622e;
			padding: 2px 1px 0 1px;
			/*text-shadow: 2px 2px 3px rgba(252,121,45,.8);*/
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-transition-property: color,1s,linear;
			-moz-transition-property: color,1s,linear;
			-ms-transition-property: color,1s,linear;
			-o-transition-property: color,1s,linear;
			transition-property: color,1s,linear;
			-webkit-transition-duration: 0.15s;
			-moz-transition-duration: 0.15s;
			-ms-transition-duration: 0.15s;
			-o-transition-duration: 0.15s;
			transition-duration: 0.15s;
			-webkit-transition-timing-function: ease-out;
			-moz-transition-timing-function: ease-out;
			-ms-transition-timing-function: ease-out;
			-o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			-webkit-transition-delay: 0;
			-moz-transition-delay: 0;
			-ms-transition-delay: 0;
			-o-transition-delay: 0;
			transition-delay: 0;
			-webkit-transition-property: color,1s,linear;
			-moz-transition-property: color,1s,linear;
			-ms-transition-property: color,1s,linear;
			-o-transition-property: color,1s,linear;
			transition-property: color,1s,linear;
			-webkit-transition-duration: 0.15s;
			-moz-transition-duration: 0.15s;
			-ms-transition-duration: 0.15s;
			-o-transition-duration: 0.15s;
			transition-duration: 0.15s;
			-webkit-transition-timing-function: ease-out;
			-moz-transition-timing-function: ease-out;
			-ms-transition-timing-function: ease-out;
			-o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			-webkit-transition-delay: 0;
			-moz-transition-delay: 0;
			-ms-transition-delay: 0;
			-o-transition-delay: 0;
			transition-delay: 0;
		}
		.destroy:hover {
			color: #A53C00;
		}
		.mouse:hover .destroy {
			display: block;
		}
	.mouse img {
		float: left;
		display: block;
		margin: 14px 0 0 10px;
		width: 120px;
	}
	.mouse dl{
		float: left;
		min-width: 140px;
		background-color: #fff;
		overflow: hidden;
		padding: 10px 20px;
		margin: 0;
	}
		.mouse dl strong {
			font-family: 'Cherry Swash', cursive;
		}
		.mouse dl dt {
			float: left;
		}
		.mouse dl dd {
			font-family: 'Quicksand', sans-serif;
			text-align: right;
			margin: 0 0 0 110px;
			min-width: 110px;
			min-height: 20px;
		}
		.edit {display: none;}
		.editing label {
			display: none;
		}
		.editing .edit {
			display: block;
			padding: 5px 0 5px 20px;
			margin: 0 0 0 100px;
		}
		.view {cursor: default;}

footer {
	font-family: 'Quicksand', sans-serif;
	color: #eef2dc;
	font-size: 18px;
	background-color:#25AACC;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
}

footer a {
	font-family: 'Cherry Swash', cursive;
	font-size: 18px;
	font-weight: bold;
	color: #0a3e4c;
	text-decoration: none;
	-webkit-transition-property: color,1s,linear;
	-moz-transition-property: color,1s,linear;
	-ms-transition-property: color,1s,linear;
	-o-transition-property: color,1s,linear;
	transition-property: color,1s,linear;
	-webkit-transition-duration: 0.15s;
	-moz-transition-duration: 0.15s;
	-ms-transition-duration: 0.15s;
	-o-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	-ms-transition-delay: 0;
	-o-transition-delay: 0;
	transition-delay: 0;
	-webkit-transition-property: color,1s,linear;
	-moz-transition-property: color,1s,linear;
	-ms-transition-property: color,1s,linear;
	-o-transition-property: color,1s,linear;
	transition-property: color,1s,linear;
	-webkit-transition-duration: 0.15s;
	-moz-transition-duration: 0.15s;
	-ms-transition-duration: 0.15s;
	-o-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-delay: 0;
	-moz-transition-delay: 0;
	-ms-transition-delay: 0;
	-o-transition-delay: 0;
	transition-delay: 0;
}
footer a:active, footer a:visited {
	color: #0a3e4c;
}
footer a:hover {
	color: #105d72;
}