{% extends "main.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ static_url("css/default.css") }}" />
	<link rel="stylesheet" href="{{ static_url("css/style.css") }}" />
	<link rel="shortcut icon" href="{{ static_url("img/_favicon.ico") }}">
	<link rel="apple-touch-icon" href="{{ static_url("img/_sb_apple_touch_icon.png") }}">
	<link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Cherry+Swash:400,700' rel='stylesheet' type='text/css'>


{% end %}

{% block first_load_scripts %}
	<script data-main="/static/js/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.5/require.min.js"></script>
	<script type="text/javascript">
		var environment = {
			page: '{{ page_heading }}'
		};
	</script>

{% end %}

{% block header %}
<header>
		<h1>Saxon</h1>
		<h4>A Mouse Guard Character Generator</h4>
</header>
{% end %}

{% block body %}
<div id="main" role="main">
	<button class="create">Create New Mouse</button>
	<section id="mice-list"></section>
</div>
{% end %}

{% block footer %}
<!-- <footer>
	More info can be found at <a href="http://www.burningwheel.org/forum/forumdisplay.php?41-Mouse-Guard-RPG">Burning Wheel Forums</a> & <a href="http://www.mouseguard.net/">Mouse Guard</a> | <a href="https://github.com/thinkaxelthink/Saxon/">Saxon</a> is open source and maintained by <a href="https://github.com/thinkaxelthink/">thinkaxelthink</a> on <a href="https://github.com/thinkaxelthink/Saxon/">Github</a>
</footer> -->
{% end %}

{% block last_load %}
<script type="text/template" id="mouse-item-template">
	<header>
		<a class="destroy">X</a>
		<strong><%- rank %></strong>
		<em><%- name %>, <%- age %> From <%- hometown %></em>
	</header>
	<img src="/static/img/mouse1.png" title="<%- name %>">
	<dl>
	<% for (var item in this.model.attributes){ %>
			<% if( item === 'traits' || item === 'nature' || item === 'belief' ) { %>
	</dl><dl>
			<% } %>
			<% if ( _.isArray( this.model.attributes[item] ) === true ) { %>
				<dt><strong><%= _.chain(item).capitalize().spacelize().value() %>:</strong></dt>
				<% _.each(this.model.attributes[item], function(e){ %>
					<dd class="view">
						<label><%= e %></label>
						<input class="edit" type="text" value="<%- e %>">
					</dd>
				<% }); %>
			<% } else if ( _.isObject( this.model.attributes[item] ) === true ) { %>
				<dt><strong><%= _.chain(item).capitalize().spacelize().value() %>:</strong></dt>
				<% _.each(_.pairs(this.model.attributes[item]), function(e){ %>
					<dd class="view">
						<label><%= e[0] %>  <%= e[1] %></label>
						<input class="edit" type="text" value="<%- e[1] %>">
					</dd>
				<% }); %>
			<% }else{ %>
				<% if( item !== 'id' && item !== 'hometown' 
					&& item !== 'rank'&& item !== 'age' ) { %>
				<dt><strong><%= _.chain(item).capitalize().spacelize().value() %>:</strong></dt>
				<dd class="view">
					<label><%- this.model.attributes[item] %></label>
					<input class="edit" type="text" value="<%- this.model.attributes[item] %>">
				</dd>
				<% } %>
			<% } %>
	<% } %>
	</dl>
</script>
<script type="text/template" id="stats-template">
	// <div class="mice-count"><b><%= remaining %></b> <%= remaining == 1 ? 'mouse' : 'mice' %> created</div>
</script>
{% end %}